$cor-texto-apoio:  #777
$cor-background:   #EEE
$cor-vermelho-chd: #AA1423
$cor-laranja:      #FD6F29
$fonte-roboto:     'Roboto', sans-serif
$fonte-slab:       'Roboto Slab', serif

body
  font-family: $fonte-roboto
  font-size: 12pt

.titulo
  font-family: $fonte-slab
  color: $cor-vermelho-chd
  font-size: 30pt

.texto-apoio
  color: $cor-texto-apoio

.arrow-down
  width: 0
  height: 0
  border-left: 25px solid transparent
  border-right: 25px solid transparent
  border-top: 25px solid white
  margin-left: auto
  margin-right: auto

.cabecalho img
  display: block
  margin-left: auto
  margin-right: auto
  margin-top: 15px
  margin-bottom: -30px

.encurtador
  max-width: 1400px
  margin-left: auto
  margin-right: auto
  height: 650px
  background-image: url('../../Assets/background-home.jpg')
  background-repeat: no-repeat
  background-size: cover

.conteudo-encurtador
  font-size: 13pt
  text-align: center
  color: white
  max-width: 660px
  margin-left: auto
  margin-right: auto
  position: relative
  top: 50%
  transform: translateY(-50%)

  .titulo
    color: white
    margin-bottom: 6px
  #descricao
    margin-left: 15px
    margin-right: 15px
    margin-bottom: 66px

  input
    font-size: 13pt
    color: $cor-laranja

  #link
    width: 440px
    margin-bottom: 10px
    border: none
    border-bottom: 2px solid $cor-laranja
    background-color: transparent
    padding: 8px 2px

  #encurtar, #copiar
    color: white
    background-color: $cor-laranja
    border: none
    padding: 10px 15px
    width: 120px

  #cancelar
    color: white
    background-color: transparent
    border: none
    margin-left: -27px

::-webkit-input-placeholder
  color: $cor-laranja
\:-moz-placeholder
  color: $cor-laranja
::-moz-placeholder
  color: $cor-laranja
\:-ms-input-placeholder
  color: $cor-laranja

.top5-links
  height: 400px
  max-width: 400px
  margin-left: auto
  margin-right: auto
  span
    float: right
  p
    text-align: center
    margin-bottom: 20px
  a
    color: $cor-vermelho-chd
    font-weight: bold
    text-decoration: none
  .top5-linha
    padding-top: 14px
    padding-bottom: 14px
    border-bottom: 1px solid $cor-background
  div:last-child
    border-bottom: none



.hits
  height: 300px
  text-align: center
  background-color: $cor-background
  .numero-hits
    width: 220px
    margin-left: auto
    margin-right: auto
    background-color: white
    border: 1px solid #DDD
    border-radius: 5px

.rodape
  color: $cor-vermelho-chd
  max-width: 800px
  margin-top: 25px
  margin-bottom: 25px
  margin-left: auto
  margin-right: auto
  .redes-sociais
    float: right
    #twitter
      margin-right: 30px
