$cor-texto-apoio:  #777
$cor-background:   #EEE
$cor-vermelho-chd: #AA1423
$fonte-roboto:     Roboto, serif
$fonte-slab:       Roboto Slab, serif

body
  font: $fonte-roboto
  color: $cor-vermelho-chd

.encurtador
  color: white
  background-image: url('../../Assets/background-home.jpg')

li
  list-style-type: none

a
  color: $cor-vermelho-chd

.texto-apoio
  color: $cor-texto-apoio
